.opencode
/gestion_mambemba/.env
/gestion_mambemba/.env.backup
/gestion_mambemba/.env.production
/gestion_mambemba/.phpactor.json
/gestion_mambemba/.phpunit.result.cache
/gestion_mambemba/.phpunit.cache
/gestion_mambemba/.codex
/gestion_mambemba/.cursor/
/gestion_mambemba/.idea
/gestion_mambemba/.nova
/gestion_mambemba/.vscode
/gestion_mambemba/.zed
/gestion_mambemba/auth.json
/gestion_mambemba/node_modules
/gestion_mambemba/public/build
/gestion_mambemba/public/fonts-manifest.dev.json
/gestion_mambemba/public/hot
/gestion_mambemba/public/storage
/gestion_mambemba/storage/*.key
/gestion_mambemba/storage/pail
/gestion_mambemba/vendor
/gestion_mambemba/_ide_helper.php
/gestion_mambemba/Homestead.json
/gestion_mambemba/Homestead.yaml
/gestion_mambemba/Thumbs.db
